.buyBtn {
       -moz-box-shadow:inset 0px 1px 0px 0px #9acc85;
       -webkit-box-shadow:inset 0px 1px 0px 0px #9acc85;
       box-shadow:inset 0px 1px 0px 0px #9acc85;
       background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #74ad5a), color-stop(1, #68a54b));
       background:-moz-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
       background:-webkit-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
       background:-o-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
       background:-ms-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
       background:linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
       filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#74ad5a', endColorstr='#68a54b',GradientType=0);
       background-color:#74ad5a;
       border:1px solid #3b6e22;
       display:inline-block;
       cursor:pointer;
       color:#ffffff;
       font-family:arial;
       font-size:13px;
       font-weight:bold;
       padding:6px 12px;
       text-decoration:none;
       }
.buyBtn:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #68a54b), color-stop(1, #74ad5a));
    background:-moz-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
    background:-webkit-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
    background:-o-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
    background:-ms-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
    background:linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#68a54b', endColorstr='#74ad5a',GradientType=0);
    background-color:#68a54b;
}
.buyBtn:active {
    position:relative;
    top:1px;
}


.sellBtn {
    -moz-box-shadow:inset 0px 1px 0px 0px #b54b3a;
    -webkit-box-shadow:inset 0px 1px 0px 0px #b54b3a;
    box-shadow:inset 0px 1px 0px 0px #a73f2d;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a73f2d), color-stop(1, #a73f2d));
    background:-moz-linear-gradient(top, #a73f2d 5%, #a73f2d 100%);
    background:-webkit-linear-gradient(top, #a73f2d 5%, #a73f2d 100%);
    background:-o-linear-gradient(top, #a73f2d 5%, #a73f2d 100%);
    background:-ms-linear-gradient(top, #a73f2d 5%, #a73f2d 100%);
    background:linear-gradient(to bottom, #b34332 5%, #a73f2d 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a73f2d', endColorstr='#a73f2d',GradientType=0);
    background-color:#a73f2d;
    border:1px solid #241d13;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:arial;
    font-size:13px;
    font-weight:bold;
    padding:6px 12px;
    text-decoration:none;
    text-shadow:0px -1px 0px #7a2a1d;

}
.sellBtn:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #b34332), color-stop(1, #b34332));
    background:-moz-linear-gradient(top, #b34332 5%, #b34332 100%);
    background:-webkit-linear-gradient(top, #b34332 5%, #b34332 100%);
    background:-o-linear-gradient(top, #b34332 5%, #b34332 100%);
    background:-ms-linear-gradient(top, #b34332 5%, #b34332 100%);
    background:linear-gradient(to bottom, #b34332 5%, #b34332 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b34332', endColorstr='#b34332',GradientType=0);
    background-color: #b34332;
}
.sellBtn:active {
    position:relative;
    top:1px;
}


/***** SPECIAL *****/

.priceUpTriangle{

    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 15px 26.0px 15px;
    border-color: transparent transparent #17b34e transparent;

}
.priceSameTriangle{
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 15px 0 15px 26.0px;
    border-color: transparent transparent transparent #707070;

}
.priceDownTriangle{
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 26.0px 15px 0 15px;
    border-color: #de2a2a transparent transparent transparent;
}