#SkyModal {
    width: 480px;
    height: 450px;
    padding: 30px;
    display: none;

    color: #000;

    background: #FFF;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0 0px 4px rgba(0, 0, 0, 0.7);

}

#SkyOverlay {
    position: fixed;
    z-index: 10000;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: #000;
    display: none;
}

/*** ADDING ****/
#SkyModal ul{
    left: 0;
    right: 0;
    position: absolute;
    width: 100%;
}
#SkyModalForm li{
    display: inline-block;
    background-color: #F4F4F4;
    border: 1px solid #DCDCDC;
    width: 100%;
    right: 0;
    left: 0;

    padding: 15px;
}

#SkyModalForm button{
    position: relative;
    bottom: 0;
}