/*Basic Reset*/

* {
    padding: 0;
    margin: 0;
}
/* Base :Body/Wrapper */

body {
    font-family: helvetica, arial, sans-serif;
    font-size: 15px;
    line-height: 23px;
    color: #fff;
    overflow: hidden;
}

.wrapper {
    margin: 0 auto;
    background: #000;
    position: absolute;
    bottom: 0;
    top: 0;
}

/* HEADER */

.header {
    background-color: rgba(100, 100, 100, 0.6);

    border-bottom: 2px solid dimgrey;
    height: 30px;

    margin: 0 auto;

    width: 100%;

    font-family: 'Oswald', arial, serif;
}
.footer{
    height: 30px;
    background: rgba(255,255,255,0.15);
    border-top: 1px solid dimgrey;
}
/* NAV */
nav{
    width: 100%;
    margin: 0 auto;
}

#nav ul {
    list-style: none;
}

#nav ul li {
    margin: 20px 20px 0 0px;
}

#nav a {
    text-decoration: none;
    color: #111;
}

#nav a:hover {
    text-decoration: underline;
    color: #666;
}

/* Columns */
.columns{
    width: 100%;
    margin: 10px auto;
}

#columns p {
    margin: 0 15px 0 0px;
}

#columns h2 {
    margin: 0 30px 0 0px;
    line-height: 35px;
    font-family: 'Oswald', arial, serif;
}
/* rows*/

#rows {
    width: 100%;
    height: 30%;
    /*background: gray;*/
    margin: 30px auto 15px;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
}

#rows p {
    margin: 0 0px 15px 0px;
}

#rows h2 {
    line-height: 35px;
    font-family: 'Oswald', arial, serif;
}


/*twoColums*/
#twoColums {
    width: 100%;
    height:59%;
    /*background: gray;*/
    margin: 0px auto;
}

#twoColums p {
    margin: 0 20px 0 0;
}

#twoColums h2 {
    line-height: 35px;
    font-family: 'Oswald', arial, serif;
}

/*Reusable Classes*/

.hasflex {
    display: box;
    display: -webkit-box;
    display: -moz-box;
}

.box0 {
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    box-flex: 0;

}

.box1 {
    -webkit-box-flex: 1;
    -moz-box-flex: 1;
    box-flex: 1;
}

.box2 {
    -webkit-box-flex: 2;
    -moz-box-flex: 2;
    box-flex: 2;
}

.box3 {
    -webkit-box-flex: 3;
    -moz-box-flex: 3;
    box-flex: 3;
}

.last {
    margin-right: 0;
}


/* SQUELETTE */


/*LINE 0 */


/* LINE 1 */
/*
.graph {
    background: none;
    width: 95%;
}

.aside-1 {
    background: none;
    width: 50px;
    border-left:2px solid dimgray;
}
.main {
    border-top: 1px solid dimgrey;
    text-align: left;
    background: none;
    height: 35%;
    width: 100%;
}

.footer {
    border-top:1px solid dimgrey;
    height: 20px;
}


@media all and (min-width: 600px) {
    .aside {
        flex: 1 auto;
    }
}
@media all and (min-width: 800px) {
    .graph {
        flex: 2 auto;
    }

    .graph {
        order: 1;
    }

    .aside-1 {
        order: 2;
    }

    .main {
        order: 3;
    }

    .footer {
        order: 4;
    }
}
*/