<div class="pull-right" style="position: absolute; right: 0">
    <ul class="hasflex">
        <li class="box1">
            <button onclick="engine();">Manuel refresh</button>
        </li>
        <li class="box1" style="border-left:1px solid white">
            <a href="#" >
                <img src="img/ico_settings.png" style="height: 23px;padding: 0;margin: 0"/>
            </a>
        </li>
        <li class="box1" style="border-left:1px solid white">
            <a href="#">Obusco</a>
        </li>
    </ul>
</div>
<nav role="navigation">
    <ul class="hasflex">
        <li class="box0">
            <a href="#">Home</a>
        </li>
        <li class="box0">
            <a href="#">About</a>
        </li>
        <li class="box0">
            <a href="#">Contact</a>
        </li>
    </ul>
</nav>