<section id="right">
        <header>Header</header>
        <ul>
            <li>FIRST ITEM</li>

            <li class="hasflex">
                <div style="width: 50%">1/7j Gains</div>
                <div style="width: 50%">+0.00%/+0.00%</div>
            </li>
            <li class="hasflex">
                <div style="width: 50%">15/30j Gains</div>
                <div style="width: 50%">+0.00%/+0.00%</div>
            </li>
            <li class="hasflex">
                <div style="width: 50%">6m/1y Gains</div>
                <div style="width: 50%">+0.00%/+0.00%</div>
            </li>
            <li class="hasflex">
                <div style="width: 50%">Market 1h/3h</div>
                <div style="width: 50%">+0.00%/+0.00%</div>
            </li>

            <li class="hasflex">
                <div style="width: 50%">Market 6h/12h</div>
                <div style="width: 50%">+0.00%/+0.00%</div>
            </li>

            <li class="hasflex">
                <div style="width: 50%">Market 1j/3j</div>
                <div style="width: 50%">+0.00%/+0.00%</div>
            </li>

            <li class="hasflex">
                <div style="width: 50%">Market 15j/30j</div>
                <div style="width: 50%">+0.00%/+0.00%</div>
            </li>

            <li class="hasflex">
                <div style="width: 50%">Market 3m/6my</div>
                <div style="width: 50%">+0.00%/+0.00%</div>
            </li>
            <li class="hasflex">
                <div style="width: 50%">Market 1y/3y</div>
                <div style="width: 50%">+0.00%/+0.00%</div>
            </li>
            <li class="hasflex">
                <div style="width: 50%">Volume</div>
                <div style="width: 50%">BTC (USD$)</div>
            </li>
            <li class="hasflex">
                <div style="width: 50%">Average Last mounth Volume<div>
                    <div style="width: 50%">BTC</div>
            </li>

            <li class="hasflex">
                <div style="width: 50%">Potential Resistance</div>
                <div style="width: 50%"></div>
            </li>

            <li class="hasflex">
                <div style="width: 50%">Potential Support</div>
                <div style="width: 50%"></div>
            </li>
            <li>Item</li>
            <li>Item</li>
            <li>Item</li>
            <li>Item</li>
            <li>Item</li>
            <li>Item</li>
            <li>Item</li>
            <li>Item</li>
            <li>Item</li>
            <li>Item</li>
            <li>LAST ITEM</li>
        </ul>
        <footer>Footer</footer>
</section>